<main>
  <nav>
    <p>
      <a href="https://academia-binaria.com/hola-angular-cli/">📘 Tutorial</a>
    </p>
    <p>
      <a routerLink="course/introduccion">💻 Introducción</a>
    </p>
    <p>
      <a routerLink="course/avanzado">💻 Avanzado</a>
    </p>
    <p>
      <a href="https://angular.builders">👷‍♂️ Angular Builders</a>
    </p>
  </nav>
  <section>
    <article>
      <header>
        <h2>
          Angular minimal App
        </h2>
      </header>
      <main>
        <p>
          Fork this <a href="https://github.com/angularbuilders/angular-begins">Repository</a>
        </p>
        <router-outlet></router-outlet>
      </main>
      <footer><small><i>Use it as a demo sample for learning Angular basics</i></small></footer>
    </article>
  </section>
  <aside>
    <header>
      <h3>Featuring:</h3>
    </header>
    <ul>
      <li>Angular9</li>
      <li>TypeScript</li>
      <li>HTML5</li>
      <li>Flex-box</li>
      <li>TSlint</li>
      <li>Prettier</li>
    </ul>
  </aside>
</main>
